/* Define CSS variables based on theme colors */

/* Palette source: https://coolors.co/palette/f4f1de-e07a5f-3d405b-81b29a-f2cc8f*/
:root {
    --md-primary-fg-color:        #3d405bff;/*delft-blue*/
    --md-accent-fg-color:         #81b29aff; /*cambridge-blue*/
    --md-primary-bg-color:        #f4f1deff;  /*eggshell*/
    --text-color:                 #3d405bff; /*delft-blue:*/
    --md-code-hl-color:            #e07a5fff; /*burnt-sienna*/
    --highlight-outline:           #f2cc8fff; /*sunset*/
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.5rem;
}

.md-header {
    overflow: visible; /* Allow overflow */
    background-color: var(--md-primary-fg-color);
}

.md-footer {
    background-color: var(--text-color);
    color: var(--md-default-bg-color);
}

.md-tabs {
    position: relative; /* Make sure .md-tabs is positioned */
    overflow: visible; /* Allow overflow */
    margin-bottom: 60px;
}

/* Body and Link Styling for Readability */
body {
font-family: 'Roboto', sans-serif;
color: var(--text-color);
background-color: var(--md-primary-bg-color);
}

a:hover {
color: var(--md-accent-fg-color); /* Sky Blue on hover */
}

/* Code Block Styling */
code {
background-color: var(--md-accent-fg-color); /* No border for a cleaner look */
}

/* Table Styling */
table {
border-collapse: collapse;
width: 100%;
}

th, td {
border: 1px solid var(--md-primary-fg-color);
padding: 8px;
text-align: left;
}

th {
background-color: var(--md-primary-fg-color);
color: var(--md-default-bg-color);
}
